body
{
	background:url(bg.jpeg) no-repeat;
	background-size: cover;
	border-style: groove;
	border-width: 10px;
}
@import url('https://fonts.googleapis.com/css?family+Poppins:200,300,400,500,600,700,800,900&display=swap')
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
section 
{
	position: relative;
	width: 100%;
	min-height: 20cm;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	padding: 20px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header  .logo
{
	position: relative;
	max-width: 100%;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li 
{
    list-style: none;
}
header ul li a
{
	display: inline-block;
	color: green;
	font-weight: 800;
	margin-left: 40px;
	text-decoration: none;
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.content .textBox
{
	position: relative;
	max-width: 700px;
}
.content .textBox h2
{
	color: purple;
	font-size: 1.4cm;
	line-height: 1.4cm;
	font-weight: 500;
}
.content .textBox h2 span
{
	color: #017160;
	font-size: 1.6cm;
	font-weight: 900;
	margin-left: 70px;
}
.content .textBox p
{
	color: #290;
	font-size: 0.6cm;
	font-style: oblique;
	
}
.content .textBox a
{
	display: inline-block;
	margin-top: 10px;
	padding: 8px 20px;
	background: #017143;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}
.content .imgBox
{
	width: 900px;
	display: flex;
	justify-content: flex-end;
	padding-right: 300px;
	
}
.content .imgBox img
{
	max-width:340px;
}
.thumb
{
	position: absolute;
	left: 50%;
	bottom: 130px;
	transform: translateX(-50%);
	display: flex;	
}
.thumb li
{
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
	cursor: pointer;
	transition: 0.5s;

}
.thumb li:hover
{
	transform: translateY(-50px);

}
.thumb li img
{
	max-width: 85px;
	top: 60%%;
} 
.sci
{
	position: absolute;
	top: 40%;
	right: 100px;
	transform: translateX(-80%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	display: inline-block;
	margin: 5px 0;
	transform: scale(0.5);
	filter: invert(1);
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: purple;
	clip-path: circle(600px at right 800px);
}





